<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="../static/assets/js/echarts.min.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        var chartDom = document.getElementById('main');
        var myChart = echarts.init(chartDom);
        var option;

        // Prime Costs and Prices for ACME Fashion\nCollection "Spring-Summer, 2016"
        // Data from https://playground.anychart.com/gallery/7.12.0/Error_Charts/Marker_Chart
        var dimensions = [
            'name', 'rating', 'Top'
        ];
        var data = [
            ['Blouse "Blue Viola"', 9.3, 1],
            ['Dress "Daisy"', 9.3, 2]
        ];

        function renderItem(params, api) {
            var children = [];
            var coordDims = ['x', 'y'];

            for (var baseDimIdx = 0; baseDimIdx < 2; baseDimIdx++) {
                var otherDimIdx = 1 - baseDimIdx;
                var encode = params.encode;
                var baseValue = api.value(encode[coordDims[baseDimIdx]][0]);
                var param = [];
                param[baseDimIdx] = baseValue;
                param[otherDimIdx] = api.value(encode[coordDims[otherDimIdx]][1]);
                var highPoint = api.coord(param);
                param[otherDimIdx] = api.value(encode[coordDims[otherDimIdx]][2]);
                var lowPoint = api.coord(param);
                var halfWidth = 5;

                var style = api.style({
                    stroke: api.visual('color'),
                    fill: null
                });

                children.push({
                    type: 'line',
                    transition: ['shape'],
                    shape: makeShape(
                        baseDimIdx,
                        highPoint[baseDimIdx] - halfWidth, highPoint[otherDimIdx],
                        highPoint[baseDimIdx] + halfWidth, highPoint[otherDimIdx]
                    ),
                    style: style
                }, {
                    type: 'line',
                    transition: ['shape'],
                    shape: makeShape(
                        baseDimIdx,
                        highPoint[baseDimIdx], highPoint[otherDimIdx],
                        lowPoint[baseDimIdx], lowPoint[otherDimIdx]
                    ),
                    style: style
                }, {
                    type: 'line',
                    transition: ['shape'],
                    shape: makeShape(
                        baseDimIdx,
                        lowPoint[baseDimIdx] - halfWidth, lowPoint[otherDimIdx],
                        lowPoint[baseDimIdx] + halfWidth, lowPoint[otherDimIdx]
                    ),
                    style: style
                });
            }

            function makeShape(baseDimIdx, base1, value1, base2, value2) {
                var shape = {};
                shape[coordDims[baseDimIdx] + '1'] = base1;
                shape[coordDims[1 - baseDimIdx] + '1'] = value1;
                shape[coordDims[baseDimIdx] + '2'] = base2;
                shape[coordDims[1 - baseDimIdx] + '2'] = value2;
                return shape;
            }

            return {
                type: 'group',
                children: children
            };
        }

        option = {
            tooltip: {
            },
            legend: {
                data: ['bar', 'error']
            },
            dataZoom: [{
                type: 'slider'
            }, {
                type: 'inside'
            }],
            grid: {
                bottom: 80
            },
            xAxis: {},
            yAxis: {},
            series: [{
                type: 'scatter',
                name: 'item',
                data: data,
                dimensions: dimensions,
                encode: {
                    x: 2,
                    y: 1,
                    tooltip: [2, 1, 3, 4, 5, 6],
                    itemName: 0
                },
                itemStyle: {
                    color: '#77bef7'
                }
            }, {
                type: 'custom',
                renderItem: renderItem,
                dimensions: dimensions,
                encode: {
                    x: [2, 3, 4],
                    y: [1, 5, 6],
                    tooltip: [2, 1, 3, 4, 5, 6],
                    itemName: 0
                },
                data: data,
                z: 100
            }]
        };

        option && myChart.setOption(option);


    </script>
</body>
</html>